* {
    margin: 0;
}

header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 250px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

body {
    background: radial-gradient(#1d1d1d,#000000);
}

.main-tile-container {
    display: flex;
    flex-direction: column;
}

.tile {
    height: 33.3vh;
    border: 1px solid white;
    
}

.tile-title {
    color: white;
    text-align: center;
}

/* Button Click Container */

#click-btn {
    color: black;
    font-weight: 500;
    position: relative;
    margin-top: 25px;
    margin-left: 150px;
    font-size: 20px;
    border: 2px solid white;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#clear {
    font-weight: 500;
    font-size: 20px;
    border: 2px solid white;
    width: 100px;
    border-radius: 5px;
    background-color: white;
}

.hidden {
    display: none;
}

.click-cont {
    display: flex;
    flex-direction: column;
}