* {
    margin: 0;
}

body {
    background: radial-gradient(#1d1d1d,#000000);
}

.main-tile-container {
    display: flex;
    flex-direction: column;
}

.tile {
    height: 33.3vh;
    border: 1px solid white;
    
}